
    <div class="welcome-container">
        <div class="unified-box">
            <div class="welcome-section">
                <h1>Bienvenido a Gira y Apuesta</h1>
                <p>Disfruta de este casino online especializado en el juego de la ruleta europea. Vive la emoción del casino desde la comodidad de tu hogar con nuestros juegos justos y seguros.</p>
                <div class="botones">
                    <a href="/login" class="bn-login">Iniciar Sesión</a>
                    <a href="/register" class="bn-register">Registrarse</a>
                </div>
            </div>
            
            <div class="rules-section">
                <h2>¿No sabes cómo jugar? Conoce las reglas de la Ruleta</h2>
                <p>Aprende cómo jugar y aumenta tus probabilidades de ganar con nuestra guía completa para principiantes y expertos.</p>
                <div class="botones">
                    <a href="/rules" class="rules-btn">Reglas de la ruleta</a>
                </div>
            </div>
        </div>
    </div>
