<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nosotros</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
     <nav class="navbar">
        <div class="nav_container">
            <a href="index.html">Gira y Apuesta</a>
        <ul class="links_nav">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="Register.html">Registro</a></li>
            <li><a href="Login.html">Acceso</a></li>
            <li><a href="Rules.html">Reglas</a></li>
            <li><a href="Info.html">Nosotros</a></li>
        </ul>
        </div>
        </nav>
        <main class="info-container">
            <header class="text-center mb-30">
                <h1>Sobre nosotros</h1>
                <p>Casino Gira y Apuesta - Proyecto academico</p>
            </header>
            <section class="rules-card">
                <h2>Objetivos de la aplicación</h2>
                <ul>
                    <li>Crear una pagina visual atractiva y funcional para un casino online.</li>
                    <li>Implementación de todas sus funcionalidades básicas de un sistema de apuestas.</li>
                    <li>Desarrollar un sistema de gestión de usuarios y saldos virtuales.</li>
                </ul>
            </section>
            <section class="rules-card">
                <h2>Equipo de desarrollo</h2>
                <p>Nuestro equipo está formado por 2 alumnos de la Facultad de Ingenieria y Ciencias de la Carrerra  Ingenieria Civil en Informatica y Telecomunicaciones</p>
                <ul>
                    <li><strong>Nombre: </strong>Nicolas Hermosilla</li>
                    <li><strong>Correo: </strong>Nicolas.hermosilla1@mail.udp.cl</li>
                    <li><strong>Nombre: </strong>Benjamín Manzor</li>
                    <li><strong>Correo: </strong>Benjamin.manzor@mail.udp.cl</li>
                </ul>
            </section>
            <section class="rules-card">
                <h2>Tecnologias utilizadas</h2>
                <p>Para el desarrollo del Casino Gira y Apuesta, utilizamos las siguientes herramientas:</p>
                <h3>Fronted:</h3>
                <ul>
                    <li>HTML5</li>
                    <li>CSS</li>
                </ul>
                <h3>Herramientas de Desarrollo:</h3>
                <ul>
                    <li>Git para el control de versiones.</li>
                    <li>Visual Studio Code.</li>
                    <li>GitHub para el repositorio compartido.</li>
                </ul>
            </section>
            <section class="rules-card">
                <h2>Proyecto académico</h2>
                <p>El casino Gira y Apuesta simula un casino online pero no permite apuestas con dinero real. Es un proyecto con fines educativos y academicos. </p>
                <ul>
                    <li>Este es un proyecto sin fines de lucro.</li>
                    <li>No se utilizan transacciones monetarias reales.</li>
                    <li>El juego utiliza creditos virtuales sin valor.</li>
                    <li>Desarrollado para demostrar habilidades aprendidas en el curso.</li>
                </ul>
            </section>
        </main>
</body>
</html>