
        <div class="formulario">
            <div class="rules-card">
                <h2>Inicio de sesión</h2>
                {{#if error}}
                    <div class="error-mesage">{{error}}</div>
                {{/if}}
                <form action="/login" method="post">
                    <div class="grupo-form">
                        <label for="usuario">Nombre de usuario</label>
                        <input type="text" id="usuario" name="usuario" required>
                    </div>
                    <div class="grupo-form">
                        <label for="password">Contraseña</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                        <div class="text-center mt-20">
                        <button type="submit" class="bn-login">Iniciar sesión</button>
                        </div>
                    
                </form>
                <p>¿No tienes cuenta? Registrate ahora</p>
                         <div class="text-center mt-20">
                        <a href="/register" class="bn-register">Registrarse</a>
                    </div>
            </div>
        </div>
    
