
    <div class="registro">
            <div class="rules-card">
            <h2>Crear una cuenta</h2>
            {{#if error}}
            <div class="error-mesage">{{error}}</div>
            {{/if}}
            <form action="/register" method="post">
                <div class="grupo-form">
                    <label for="name">Nombre completo:</label>
                    <input type="text" id="name" name="name" required placeholder="minombre">
                </div>
                <div class="grupo-form">
                    <label for="correo">Correo Electronico</label>
                    <input type="email" name="email" id="email" required placeholder="mi@email.com">
                </div>
                
                <div class="grupo-form">
                    <label for="username">Nombre de usuario:</label>
                    <input type="text" id="username" name="username" required placeholder="Escoge un nombre de usuario">
                </div>

                <div class="grupo-form">
                    <label for="password">Contrase単a:</label>
                    <input type="password" id="password" name="password" required placeholder="Entre 4 y 32 caracteres">
                </div>

                <div class="grupo-form">
                    <label for="confirm-password">Confirmar Contrase単a</label>
                    <input type="password" id="confirm-password" name="confirm-password" required placeholder="Confirma tu Contrase単a">
                </div>

                <div class="grupo-form">
                    <label for="nacimiento">Fecha de nacimiento:</label>
                    <input type="date" id="date" name="date" required>
                </div>

                <div class="grupo-form">
                    <label>
                        <input type="checkbox">
                        Soy mayor de 18 a単os y juego responsablemente.
                    </label>
                </div>
                <div class="text-center mt-20">
                        <button type="submit" class="bn-register">Crear cuenta</button>
                    </div>
            </form>
        </div>
    </div> 
  